body{
    height: 100%;
    margin: 0; /* Đảm bảo không có khoảng cách mặc định */
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    color:rgb(255, 105, 105) !important;
    border: none;
}

.container{
    width: 500px;
    height: 100vh;
    text-align: center;
}
.music-interface{
    position: fixed;
    left: 50%;
    min-height: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 1px 1px 1px 1px rgb(188, 170, 170);
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}
.interface-container{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 500px;
    background-color: grey;
    opacity: 0.6;
    border-radius: 8px;
}
.playing-text{
    z-index: 2;
    font-weight: 600;
    color: red;
}
.music-name{
    z-index: 2;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}
.picture-container{
    display: flex;
    margin: auto;
    width: 150px; 
    aspect-ratio: 10 / 10;
}
.music-picture{
    border: skyblue solid 4px;
    transition: border-color 1s;
    width: 100%;
    height: 100%;
    transform-origin: center;
    border-radius: 50%;
    background-size: cover;
    margin:auto;
}
.function-bar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 28px 0;
    text-align: center;
    z-index: 2;
}

.progress-bar {
    width: 0%; /* Thanh bắt đầu từ 0 */
    height: 100%; /* Chiều cao bằng container */
    transition: width 0.2s ease; /* Hiệu ứng chuyển động mượt */
}
.music-list{
    background-color: #e0e0e0;
}
.btn-repeat{
    font-size: 25px;
    width: 50px;
}
.btn-previous{
    font-size: 25px;
    width: 50px;
}
.btn-pause{
    font-size: 25px;
    width: 50px;
    display: none;
    background-color: rgb(255, 105, 105);
    color: white;
    text-align: center;
}
.btn-pause:hover{
    background-color: rgb(255, 105, 105);
    color: white;
    text-align: center;
}
.btn-play{
    font-size: 25px;
    width: 50px;
    display: none;
    border-radius: 50%;
    background-color: rgb(255, 105, 105);
    color: white;
    text-align: center;
}

.btn-play:hover{
    background-color: rgb(255, 105, 105);
    color: white;
    text-align: center;
}
.btn-next{
    font-size: 25px;
    width: 50px;
}
.btn-mode{
    font-size: 25px;
    width: 50px;
}
.btn{
    color: #fff;
}
.music-list{
    font-size: 12px;
    width: 502px;
    padding: 10px;
    margin-left: -15px;
    margin-top: 302px;
    min-height: 300px ;
    text-align: left;
}
.thumb{
    display: inline-block;
    padding: 10px 0;
    position: absolute;
}
.title{
    display: inline-block;
    font-weight: 700;
}
.body{
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 135px
}
.song{
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    min-height: 120px;
    position: relative;
    background-color: white;
    transition: border-color 2s ease;
}
.option{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 37%;
    font-size: 24px;
}
.author{
    font-size: 14px;
    color: rgb(118, 111, 111);  
}
.playing{
    display: inline-block;
}
.progress-container {
    width: 100%; 
    height: 10px; 
    background-color: #e0e0e0; 
    border-radius: 5px; 
    overflow: hidden; 
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.song:active{
    opacity: 0.8;
}

.listen{
    border: 5px solid transparent;
    transition: border-color 1s ease;
    animation: spin 7s linear infinite;
}


@keyframes spin{
    0%{
        border-color:rgb(253, 103, 103);
    }
    20%{
        border-color:rgb(255, 245, 110);
    }
    40%{
        border-color:rgb(190, 255, 105);
    }
    60%{
        border-color:rgb(104, 212, 252);
    }
    80%{
        border-color:rgb(252, 120, 191);
    }
    100%{
        border-color:rgb(252, 120, 120);
    }
}

